html, body {
    height: 100%;
    background-color: #f8f8f8;
}

body {
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

.desc {
    padding: 20px 40px;
}

.desc__title {
    text-align: left;
    font-size: 20px;
    font-weight: 400
}

.desc__content {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px
}